@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');



body{
    margin: 0;
    font-family: "Roboto", sans-serif;
    background-color: aquamarine;
}
.main-container{
    background-image: url(/img/sec1-bg-img.png);
    background-repeat: no-repeat;
    width: 1366px;
    height: 560px;
    color: white;
}
.nav-div{
    padding-inline: 85px;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-block: 20px;
    border-bottom: 0.5PX solid white;    
}
ul {
    list-style-type: none;
  }
.nav {
    float: left;
    font-size: 12px;
}
.nav1{
    float: left;
    font-size: 12px;
    padding-left: 56px;
}
li a {
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
}
  
li a:hover:not(.active) {
    background-color: #111;
}
.header-btn{
    text-transform: capitalize;
    border: 0.5px solid white;
    background: none;
    width: 165px;
    height: 44px;
    color: white;

}
.inner-div{
    font-size: 48px;
    line-height: 48px;
    padding-inline: 527px;
    padding-block:186px ;
}