@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');



body{
    margin: 0;
    font-family: "Roboto", sans-serif;
}
.main-container{
    background-image: url(/img/sec1-bg-img.png);
    background-repeat: no-repeat;
    width: 1366px;
    height: 560px;
    color: white;
}
.nav-div{
    padding-inline: 85px;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-block: 20px;
    border-bottom: 0.5PX solid white;    
}
ol {
    list-style-type: none;
  }
.nav {
    float: left;
    font-size: 12px;
}
.nav1{
    float: left;
    font-size: 12px;
    padding-left: 56px;
}
li a {
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
}
  
li a:hover:not(.active) {
    background-color: #111;
}
.header-btn{
    text-transform: capitalize;
    border: 0.5px solid white;
    background: none;
    width: 165px;
    height: 44px;
    color: white;
}
.inner-div{
    font-size: 48px;
    line-height: 48px;
    padding-inline: 527px;
    padding-block:186px ;
}
.section2{
    padding-top: 114px;
    padding-left: 359px;
}
.Paragraph2{
    font-size: 20px;
    line-height: 24px;
    padding-top: 32px;
    text-align: center;
    letter-spacing: -4%;
    width: 759px;
}
.red-line{
    background-color:#E03740 ; 
    width: 150px;
    height: 4px;
    margin-left: 297px;
}
.sec2-inner-div{
    display: flex;
    padding-inline: 144px;
    padding-bottom: 112px;
}
.heading{
    font-size: 32px;
    text-align: center;
}
.list{
    font-size: 20px;
    line-height: 24px;
    padding-top: 24px;
    text-align: center;
}
.sec2-inner-div2{
    padding-left: 98px;
}
.sec3{
    /* margin-inline: 37px; */
    width: 1366px;
    height: 745px;
}
.heading-sec3{
    text-align: center;
    font-size: 40px;
}
.sec4{
    background-image: url(/img/sec4-bgimg.png);
    width: 1366px;
    height: 406px;
    margin-top: -60px;
    color: white;
}
.heading-sec4{
    letter-spacing: 66px;
    font-size: 112px;
    padding-top: 128px;
    padding-left: 292px; 
}
.container-5{
    display: flex;
    padding-top: 88px;
}
.div-5{
    padding-left: 144px;
    padding-top: 40px;
}
.sec5-span{
      font-size: 20px;
      margin: 0;
}
.Paragraph5{
    font-size: 20px;
    line-height: 24px;
    padding-top: 20px;
    display: flex;
    letter-spacing: -4%;
}
.img-coontainer{
    padding-left: 112px;
    padding-right: 104px;
}



.section-8{
    display: flex;
    padding-inline: 144px;
    padding-bottom: 112px;
}