@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


body{
    margin: 0;
    font-family: "Roboto", sans-serif;
    
}
header{
    background-image: url(img/market-bgimg.png);
    background-repeat: no-repeat;
    height: 790px;
}
nav{
    list-style: none;
    display: flex;
    justify-content: space-between; 
    font-size: 12px; 
    padding-block: 20px;
    align-items: center;
    padding-inline: 144px; 
}
button{
    border: 1px solid white;
    background: none;
    color: white;
    padding: 10px 20px;
    text-transform: capitalize;
}
hr{
    width: 79%;
}
ul{
    list-style: none;
    display: flex;
    gap: 56px;
    padding-left: 0;
}
a{
    color: white;
    text-decoration: none;
    cursor: pointer;
}
h1{
    font-size: 58px;
    line-height: 70px;
    text-align: center;
    padding-inline: 403px;
    padding-top:149px ;
    color: white;
}
h5{
    text-align: center;
    font-size: 25px;
    line-height: 32px;
    padding-top: 112px;
    padding-bottom: 80px;
}
h2{
    font-size: 40px;
    line-height: 40px;
    text-align: center;
    padding-top: 112px;
    padding-bottom: 48px;
}
.glance{
    background-color: rgba(245, 245, 245, 1);
    margin-top: -40px;
}
table{
    width: 100%;
    padding-inline: 144px;
    padding-bottom: 112px;
}
table td{
    font-size: 18px;
    text-align: center;
    vertical-align: bottom;
}
table span{
    font-size: 14px;
    vertical-align: bottom;
}
.marketing{
    padding-inline: 144px;
}
.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    padding-inline: 114px;
    padding-bottom: 112px;
}
  .grid > div {
    border: 2px solid white;
    padding: 55px; 
    font-size: 18px;
    color: white;
}
.Multi-Family{
    background-image:url(img/multi-family.png);  
}
.Retail{
    background-image:url(img/retail.png);
}
.Hotels{
    background-image:url(img/hotels.png);
}
.Restaurants{
    background-image:url(img/restaurant.png);
}
.Higher{
    background-image:url(img/higher.png);
}
.Entertainment{
    background-image:url(img/entertainment.png);
}
.Mixed{
    background-image:url(img/mixed.png);
}
.Cannabis{
    background-image:url(img/cannabis.png);
}
.Commercial{
    background-image:url(img/commercial.png);
}
.Parks{
    background-image:url(img/parks.png);
}
.Corporate{
    background-image:url(img/corporate.png);
}
.Senior{
    background-image:url(img/senior.png);
}
.Casinos{
    background-image:url(img/casinos.png);
}
.K-12{
    background-image:url(img/k-12.png);
}
.Data-Centers{
    background-image:url(img/data-center.png);
}

.footer-inner-div{
    display: flex;
}
.navigation{
    padding-left: 32px;
}
.about-contact{
    display: flex;
    gap: 12px;
}
.location{
    display: flex;
    padding-left: 663px;
    margin-top: -88px ;
}
.email{
    padding-left: 55px;
}
.email a{
    text-decoration: underline;
}
.footer-section{
    background-color: black;
    display: flex;
    color: white;
    padding-inline: 144px;
    padding-top: 72px;
    padding-bottom: 77px;
} 
