@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


body{
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    
}
.header-section{
    background-image: url(img/sec1-bg-img.png);
    background-repeat: no-repeat;
    height: 560px;
    padding-inline: 142px;
}
nav{
    list-style: none;
    display: flex;
    justify-content: space-between; 
    font-size: 12px; 
    padding-block: 20px;
    align-items: center;
    border-bottom: 1px solid white;  
}
nav li{
    font-size: 12px;
    padding: 0px;
}
button{
    border: 1px solid white;
    background: none;
    color: white;
    padding: 10px 20px;
    text-transform: capitalize;
}
button i{
    padding-left: 10px;
}
ul{
    list-style: none;
    display: flex;
    gap: 56px;
    margin: 0;
    padding-left: 0;
}
a{
    color: white;
    text-decoration: none;
    cursor: pointer;
}
h2{
    font-size: 48px;
    line-height: 48px;
    padding-left: 365px;
    padding-top:119px ;
    color: white;
}
h3{
    padding-bottom: 32px;
}
h4{
    padding-top: 129px;
    padding-left: 267px;
    color: white;
    letter-spacing: 66px;
    font-size: 112px;
} 
h5{
    font-size: 32px;
    text-align: center;
}
p{
    font-size: 20px;
    line-height: 24px;
    text-align: center;
}
span{ 
    color: #E03740;
     font-size: 12px;
}
li{
    padding-bottom: 25px;
    font-size: 20px;
    line-height: 25px;
    text-align: center; 
}
.section2{
    padding-top: 114px;
    padding-left: 300px;
}
.section2 p{
    padding-top: 32px;
    padding-bottom: 112px; 
    width: 759px;
}

.section2 hr{
    background-color:#E03740 ; 
    width: 130px;
    height: 4px;
    margin-left: 320px;
}
.sec2-inner-div{
    display: flex;
    padding-inline: 90px;
    padding-bottom: 112px;
}
.sec2-inner-div2{
    padding-right: 55px;
}
.section3 {
    padding-inline: 37px;
}
.section3 img{
    width: 100%;
}
.ena-deep{
    padding-top: 70px;
}
.mepfplv{
    background-image: url(/img/sec4-bgimg.png) ;
    background-repeat: no-repeat;
    height: 400px;
    padding-bottom: 97px;
}
.flex-box{
    display: flex;
    padding-block: 88px;
    padding-right: 75px;
}
.hvac{
    padding-left: 100px;
} 
.hvac p{
    text-align: start;
}
.flex-box2{
    display: flex;
    padding-block: 88px;
    padding-right: 100px;
    padding-left: 100px;
}
.hvac-2{
    padding-left: 35px;
}
.hvac-2 p{
    text-align:start;
}
.hvac-2-img{
    padding-right: 40px;
}
.plumbing{
    padding-right: 84px;
    padding-left: 114px;
    width: 35%;
}
.plumbing img{
    width: 100%;
    height: 100%;
    padding-top: 30px;
}
.plumbing p{
    text-align: start;
}
.flex-box-3{
    display: flex;
    padding-block: 88px;
    padding-right:50px;
}
.img-div{
    display: flex;
    gap: 8px;
}
.gap{
    padding-top: 8px;
}
.mechanical-img{
    padding-left: 42px;
}
.img-div img{
    width: 55%;
}
.oltage-it-img img{
    width: 55%;
}
.security{
    padding-left: 56px;
}
.section-8{
    display: flex;
    padding-inline: 1px;
    padding-bottom: 112px;
}
.section-9{
    display: flex;
    padding-left: 75px;
    padding-bottom: 200px;
}
.section-9 img{
    width: 45%;
}
.sec-9-img{
    padding-right: 50px;
}
.footer-inner-div{
    display: flex;
}
.navigation{
    padding-left: 32px;
}
.about-contact{
    display: flex;
    gap: 12px;
}
.location{
    display: flex;
    padding-left: 663px;
    margin-top: -88px ;
}
.email{
    padding-left: 55px;
}
.email a{
    text-decoration: underline;
}
.footer-section{
    background-color: black;
    display: flex;
    color: white;
    
    padding-top: 72px;
    padding-bottom: 77px;
} 

/* Desktop */
@media (min-width: 1201px) {
    /* Styles for desktops and large screens */

h4{
    padding-left: 290px;
}
.plumbing{
    padding-left: 88px;
   
}
.footer-section{
    padding-left: 80px;
}
.location{
    padding-left: 770px;
}
  
}


/* Mobile (up to 480px or 576px) */
@media (max-width: 480px) {
     /* Styles for desktops and large screens */

    button{
        display: none;
    }
    .header-section{
        padding-inline: 40px;
    }
    nav ul{
        order:2;  
    }
    nav li{
        font-size: 20px;
    }
    nav{
        padding-inline: 16px;
    }
    h2{
         padding-inline: 0px;
         text-align: center;
         font-size: 62px;
     }
     h3{
        font-size: 25px;
     }
    h4{
         padding-top: 190px;
         padding-left: 35px;
         letter-spacing: 20px;
         font-size: 45px;
     } 
     h5{
        font-size: 45px;
     }
     p{
        font-size: 23px;
     }
     .mepfplv{
        padding-bottom: 0;
     }
     .section2{
         padding-inline: 20px;
     }
     .mechanical-img{
        padding-left: 10px;
        padding-bottom: 50px;
     }
     .hvac-2-img{
        padding-left: 16px;
        padding-right: 0px;
     }
     .section2 hr{
        width: 143px;
        height: 4px;
        margin-left: 130px;
        margin-right: 80px;
    }
     .section2 p{
         padding-bottom: 0px;
         width: 100%;
         padding-inline: 0px;
         font-size: 23px;
    }
     .sec2-inner-div{
        display: block;
         padding-inline: 16px;
         padding-bottom: 40px;
     }
     .sec2-inner-div li{
        font-size: 22px;
     }
     .sec2-inner-div2{
        padding: 0;
     }
     .ena-deep{
        padding-top: 0;
     }
     .section3 {
         padding-inline: 16px;
         padding-bottom: 40px;
     }
     .section3 img{
         width: 100%;
     }
     .hvac{
       padding-inline: 10px;
     } 
     .hvac p{
         text-align: start;
     }
     .flex-box{
        display: block;
        padding-block: 0px;
        padding-inline: 20px;
     }
     .flex-box2{
        display: block;
         padding-block: 0px;
         padding-inline: 10px;
     }
     .flex-box-3{
        display: block;
         padding-block: 0px;
         padding-inline: 10px;
     }
     .hvac-2{
       padding-inline: 16px;
     
     }
     .hvac-2 p{
         text-align:start;
         
     }
     .plumbing{
        padding: 0;
        width: 100%;
     }
     .plumbing-img{
        display: flex;
        padding-right: 35px;
     }
     .plumbing-img img{
            width: 50%;
            height: 100%;
            padding-left: 10px;
     }
     .plumbing p{
         text-align: start;
     }
     .img-div{
         display: flex;
         gap: 4px;
     }
     .gap{
         padding-top: 8px;
     }
     .gap img{
            width: 97%;
     }
     .img-div img{
         width: 48%;
     }
     .security{
         padding-inline: 10px;
     }
    .section-8{
         padding-inline: 1px;
         padding-bottom: 112px;
     }
     .section-9{ 
        display: block;
         padding-inline: 16px;
         padding-bottom: 80px;
     }
     .section-9 img{
            width: 100%;
            padding: 0;
     }
     .sec-9-img{
         padding-bottom: 12px;
     }
     footer span{
        font-size: 18px;
    }
    footer a{
        font-size: 23px;
    }
    .footer-inner-div{
        display: block;
    }
    .navigation{
        padding-bottom: 24px;
        padding-left: 0;
    }
    .about-contact{
        padding-left: 120px;
        padding-bottom: 24px;
        gap: 12px;
    }
    .location{
        display: block;
        padding-left: 0px;
        padding-top: 40px;
    }
    .email{
        padding-left: 0px;
    }
    .footer-section{
      padding-block: 32px;
        display: block;
        text-align: center;
        padding-inline: 0px;
    } 
    footer img{
        padding-bottom: 24px;
    }
    }

    /* Styles for small mobile devices */